# Data Science Tools and Ecosystem

## This notebook serves as a summary of data science tools and ecosystems

__Objectives__
- List popular data science languages
- List popular libraries used in data science
- list tools used for data science
- Create examples of arithmetic equations using python

### Popular Data Science languages include, but are not limited to: 
 1. Python
 2. R
 3. Julia
 4. Scala
 5. SQL

### Popular Data Science Libraries include, but are not limited to:
 1. NumPy
 2. Pandas
 3. TensorFlow
 4. SciPy
 5. Keras

| Data Science Tools|
|-------|
|Jupyter Notebook|
| Apache Spark|
|Apache Hadoop|

### The following is an example of evaluating arithmetic expressions in python:

In [14]:
print("This is a simple example of multiplying then adding integers")
(3*4)+5

This is a simple example of multiplying then adding integers

17

In [15]:
print("This next equation will convert 200 minutes into hours by divding by 60")
200/60

This next equation will convert 200 minutes into hours by divding by 60

3.3333333333333335

## Author.
Megan McCullough